In [32]:
# 리스트.append(데이터)
t=['소마고', '2023',  18, 72, ['2학년', '1반', '2반', '3반']]
t.append("4반")
t

['소마고', '2023', 18, 72, ['2학년', '1반', '2반', '3반'], '4반']

In [33]:
# del 리스트[인덱스]
t=['소마고', '2023',  18, 72, ['2학년', '1반', '2반', '3반'],'4반']
del t[len(t)-1]
t

['소마고', '2023', 18, 72, ['2학년', '1반', '2반', '3반']]

In [34]:
# 리스트.remove(데이터)
t=['소마고', '2023',  18, 72, ['2학년', '1반', '2반', '3반'],'4반']
t.remove("4반")
t

['소마고', '2023', 18, 72, ['2학년', '1반', '2반', '3반']]

In [35]:
# FOR
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
    print(f'{i}0 ', end='')

490 -170 250 1020 80 620 210

In [36]:
# 구구단
num = int(input("출력을 원하시는 단을 입력하세요: "))
for i in range(1,10):
    print(f'{num} X {i} = {num * i}')

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [51]:
# 대구 소프트웨어 마이스터
txt = '대구소프트웨어마이스터'
print("     ".join(i for i in txt))

대     구     소     프     트     웨     어     마     이     스     터

In [71]:
# 구구단 2
for i in range(1,10):
   for j in range(2,10):
      print(f'{j} X {i} = {j*i}', end='\t')
   print('\n')

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9

2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18

2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27

2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36

2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45

2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54

2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63

2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72

2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [73]:
# 이름 변경
stu = ['홍길동' , '일지매' , '유관순 ']
print(f'현재 이 과목의 최종 수강 신청자는 {stu} 입니다\n')

beforeName = input('변경 전 이름을 입력하세요: ')
afterName = input('변경 후 이름을 입력하세요: ')

for i in range(0,len(stu)):
    if stu[i] == beforeName:
        stu[i] = afterName

print(f'\n{stu}')

현재 이 과목의 최종 수강 신청자는 ['홍길동', '일지매', '유관순 '] 입니다


['전우치', '일지매', '유관순 ']

In [74]:
# 홀수 출력
num = int(input('숫자를 입력하세요: '))

for i in range(1,num+1):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [75]:
# 페이지 출력
for i in range(1,4):
    for j in range(1,6):
        print(f'{i} 페이지의 {j} 번글a입니다^^')
    print('\n\n')

1 페이지의 1 번글입니다^^
1 페이지의 2 번글입니다^^
1 페이지의 3 번글입니다^^
1 페이지의 4 번글입니다^^
1 페이지의 5 번글입니다^^



2 페이지의 1 번글입니다^^
2 페이지의 2 번글입니다^^
2 페이지의 3 번글입니다^^
2 페이지의 4 번글입니다^^
2 페이지의 5 번글입니다^^



3 페이지의 1 번글입니다^^
3 페이지의 2 번글입니다^^
3 페이지의 3 번글입니다^^
3 페이지의 4 번글입니다^^
3 페이지의 5 번글입니다^^

In [77]:
# 교실 출력
list = [['홍길동','일지매','전우치'],['유관순','신사임당','어우동'],['강감찬','광개토대왕','김구']]

for i in range(0,3):
    for j in range(0,3):
        print(f'{i}반 : {list[i][j]}')
    if i != 2:
        print('===============')

0반 : 홍길동
0반 : 일지매
0반 : 전우치
===============
1반 : 유관순
1반 : 신사임당
1반 : 어우동
===============
2반 : 강감찬
2반 : 광개토대왕
2반 : 김구