In [30]:
import pandas as pd
import numpy as np

data = pd.read_csv('survey_results_public.csv')
data_columns = data.columns
countrys = data.drop_duplicates(subset='Country')['Country']
country_count = countrys.count()

developer_list = []
for country in list(countrys)[1:]:
    developer_list.append(data[data['Country'] == country]['Country'].count())

index = np.arange(len(list(countrys)[1:]))
countrys_df = pd.DataFrame({'Country':list(countrys)[1:]}, index=index)
developer_df = pd.DataFrame({'Count':developer_list}, index=index)
developer = pd.concat([countrys_df, developer_df], axis=1)
developer

                                               Country  Count
0                                               Canada   2490
1    United Kingdom of Great Britain and Northern I...   4190
2                                               Israel    795
3                             United States of America  13543
4                                              Germany   5395
..                                                 ...    ...
175                                             Monaco      1
176                                           Djibouti      1
177                                         Seychelles      1
178                                    Solomon Islands      1
179                              Saint Kitts and Nevis      1

[180 rows x 2 columns]