<a href="https://colab.research.google.com/github/levhyun/MachineLearningInSchool/blob/main/2023.04.11/2023_04_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: c:\Users\g8808\Documents\GitHub\MachineLearningInSchool\2023.04.11\ns_book6.csv
100%|██████████| 55.0M/55.0M [00:07<00:00, 7.17MB/s]

'ns_book6.csv'

In [2]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
sum(ns_book6['도서권수']==0)

3206

In [4]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]
ns_book7.describe()

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
25%    104488.250000    2003.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
75%    302346.750000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [5]:
ns_book7.describe(percentiles=[0.3,0.6,0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [6]:
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

In [7]:
x = [10,20,30]
avg = sum(x) / len(x)
avg

20.0

In [8]:
ns_book7['대출건수'].mean()

11.593438968070707

In [9]:
ns_book7['대출건수'].median()

6.0

In [10]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

In [11]:
temp_df = pd.DataFrame([1,2,5,10, 20])
temp_df.median()

0    5.0
dtype: float64

In [12]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

In [13]:
ns_book7['대출건수'].min()

0

In [14]:
ns_book7['대출건수'].max()

1765

In [15]:
ns_book6['대출건수'].quantile(0.25)

2.0

In [16]:
ns_book6['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [17]:
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

In [18]:
borrow_10_flag = ns_book7['대출건수'] < 10
borrow_10_flag.mean()

0.6402712530190833

In [19]:
sum(borrow_10_flag)

241235

In [20]:
241235 / 376770

0.6402712530190833

In [21]:
ns_book7['대출건수'].quantile(0.65)

10.0

In [22]:
ns_book7['대출건수'].var()

371.6956304306922

In [23]:
ns_book6['대출건수'].std()

19.241925726331733

In [45]:
import numpy as np

# 표준편차 구하기
diff = ns_book7['대출건수'] - ns_book7['대출건수'].mean()
np.sqrt(np.sum(diff**2) / len(ns_book7)-1)

19.25343200307804

In [25]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [26]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

In [27]:
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [28]:
ns_book7.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [29]:
ns_book7.to_csv('ns_book7.csv', index=False)

In [30]:
np.mean(ns_book7['대출건수'])

11.593438968070707

In [31]:
np.average(ns_book7['대출건수'], weights=1/ns_book7['도서권수'])

10.543612175385386

In [32]:
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.873029861445788

In [33]:
ns_book7['대출건수'].sum()/ns_book7['도서권수'].sum()

10.120503701300958

In [34]:
np.median(ns_book7['대출건수'])

6.0

In [35]:
np.min(ns_book7['대출건수'])

0

In [36]:
np.max(ns_book7['대출건수'])

1765

In [37]:
np.quantile(ns_book7['대출건수'], [0.25, 0.5, 0.75])

array([ 2.,  6., 14.])

In [38]:
np.var(ns_book7['대출건수'])

371.694643898775

In [39]:
ns_book7['대출건수'].var()

371.6956304306922

In [40]:
ns_book7['대출건수'].var(ddof=0) # 판다스

371.694643898775

In [41]:
np.var(ns_book7['대출건수'], ddof=1) # 넘파이

371.6956304306922

In [42]:
np.std(ns_book7['대출건수'])

19.279383908693113

In [47]:
values, counts = np.unique(ns_book7['도서명'], return_counts=True)
max_idx = np.argmax(counts)
values[max_idx]

'승정원일기'